:root {
    --primary-color: #671469;;
    --base-color: #000000;
    --text-color: #2e4b65;
    --light-green: #f1f9f8;
    --light-orange: #fdf7f0;
    --light-purple: #e4e2f5;
    --light-pink: #f6eaf3;
    --light-blue: #ecfaff;
    --green: #3ab795;
    --orange: #ffbd70;
    --blue: #70bae4;
    --pink: #d088be;
    --purple: #7366dd;
    --light-grey: #dfe2e6;
    --grey: #2e4b65;
    --danger: #b73a5c;
    --light: #ffffff;
  }
  
  [data-theme="dark"] {
    --primary-color: #63ceb2;
    --pink: #fed7f0;
    --secondary-color: #000000;
    --font-color: #ffffff;
    --bg-color: #191919;
    --heading-color: #818cab;
  }
  [data-theme="light"] {
    --light: #ffffff;
    --primary-color: #d088be;
    --base-color: #000000;
    --text-color: #2e4b65;
    --light-green: #f1f9f8;
    --light-orange: #fdf7f0;
    --light-purple: #e4e2f5;
    --light-pink: #f6eaf3;
    --light-blue: #ecfaff;
  }
  
  